<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>PlayGround | Topdeck GO</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <script src="assets/js/vue.js"></script>
  <link rel="stylesheet" href="assets/css/muse-ui.css">
  <link rel="stylesheet" href="assets/css/common.css">
  <script src="assets/js/muse-ui.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/axios.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
</head>

<body>
  <div id="playground" class="playground">
    <iframe src="appbar.html" frameborder="0" width="100%" height="70"></iframe>
    <mu-container fluid style="padding: 4px;margin-top: 48px;width: 80%;">
      <mu-row gutter>
        <!-- 左侧 -->
        <mu-col span=8 sm="12" md="7" lg="8">
          <mu-chip color="primary" style="margin-bottom: 8px">PlayGround</mu-chip>
          <mu-paper class="pg-paper" :z-depth="5"
            style="padding: 24px 0!important;border-radius: 8px">
            <mu-row gutter wrap="nowrap" fill justify-content="center">
              <mu-col span=2 v-for="(op,index) in opened" v-bind:key="index">
                <mu-paper style="background-color: transparent">
                  <img v-show="!op" class="pack-jd" v-on:click="getData(index)" src="assets/img/pack-jd.png">
                  <img v-show="op" class="pack-jd-opened" src="assets/img/pack-jd-opened.png">
                </mu-paper>
              </mu-col>
            </mu-row>
          </mu-paper>
        <!--  结果 -->
          <mu-chip color="primary" style="margin: 8px 0">OpenResult</mu-chip>
          <mu-paper class="pg-paper" :z-depth="5" style="padding: 12px 0!important;border-radius: 8px">
            <mu-row v-for="(cardSet,index) in cardSets" v-bind:key="index" gutter justify-content="center">
              <mu-col span=2 sm="6" md="6" lg="3" xl="2" v-for="(cs,id) in cardSet" v-bind:key="id">
                <mu-paper style="background-color: transparent">
                  <img @click="openCardDetailDialog(cs.cardId)" class="pack-jd" :src="cs.cardImgUrl">
                </mu-paper>
              </mu-col>
            </mu-row>
          </mu-paper>
        </mu-col>
        <!-- /左侧 -->
        <!-- 右侧数据栏 -->
        <mu-col span=4 sm="12" md="5" lg="4">
          <mu-chip color="primary" style="margin: 8px 0">Statistics</mu-chip>
          <mu-paper :z-depth="5" style="border-radius: 8px;margin-bottom: 24px">
            <mu-list>
              <mu-list-item avatar button :ripple="false" v-for="(r,index) in rarity" v-bind:key="index">
                <mu-list-item-action>
                  <mu-avatar>
                    <img :src="r.img">
                  </mu-avatar>
                </mu-list-item-action>
                <mu-list-item-content>
                  <mu-list-item-title>{{r.name}}</mu-list-item-title>
                  <mu-list-item-sub-title>
                    <mu-badge :content="r.no" color="primary"></mu-badge>
                  </mu-list-item-sub-title>
                </mu-list-item-content>
                <mu-list-item-action>
                  <mu-chip color="secondary">{{r.num}} card(s)</mu-chip>
                </mu-list-item-action>
              </mu-list-item>
              <mu-list-item>
                <mu-list-item-action>
                  <mu-avatar color="primary">
                  </mu-avatar>
                </mu-list-item-action>
                <mu-list-item-title>
                  <b color="primary">Total Rarity:</b>
                </mu-list-item-title>
                <mu-list-item-action>
                  <mu-chip color="primary">   {{getTotalRarity}} rarity </mu-chip>
                </mu-list-item-action>
              </mu-list-item>
            </mu-list>
          </mu-paper>
          <!-- Rate -->
          <mu-chip color="primary" style="margin-bottom: 8px">Rate</mu-chip>
          <mu-paper :z-depth="5" style="border-radius: 8px">
            <mu-list>
              <mu-list-item avatar v-for="(r,index) in rarity" v-bind:key="index">
                <mu-list-item-action>
                  <mu-avatar>
                    <img :src="r.img">
                  </mu-avatar>
                </mu-list-item-action>
                <mu-list-item-title>{{r.name}}</mu-list-item-title>
                <mu-list-item-action>
                  <mu-chip color="teal">{{r.rate}}</mu-chip>
                </mu-list-item-action>
              </mu-list-item>

            </mu-list>
          </mu-paper>

        </mu-col>
        <!-- /右侧数据栏 -->
      </mu-row>
      <mu-dialog width="540" min-width="450px" transition="scale" :open.sync="cardDetail">
        <mu-card raised style="width: 100%;  margin: 0 auto;">
          <mu-card-header :title="card.cardName" :sub-title="card.cardEngName">
            <mu-avatar slot="avatar">
              <img :src="getRarityImg(card.cardRarityNum)">

            </mu-avatar>
<!--            <mu-badge :content="card.cardId" color="primary"></mu-badge>-->
          </mu-card-header>
          <mu-card-media>
            <img class="pack-jd-opened" :src="card.cardImgUrl">
          </mu-card-media>
<!--          <mu-card-title :title="card.cardRarity" :sub-title="card.cardClass"></mu-card-title>-->
          <mu-card-text>
            <h4>
              稀有度：<mu-badge color="primary" :content="card.cardRarity"></mu-badge>
              职业：<mu-badge color="primary" :content="card.cardClass"></mu-badge>
              类型：<mu-badge color="primary" :content="card.cardType"></mu-badge>
            </h4>
            <h4>
              生命值：<mu-badge color="secondary" :content="card.cardHealth+''"></mu-badge>
              攻击力：<mu-badge color="secondary" :content="card.cardAtk+''"></mu-badge>
              法力值：<mu-badge color="secondary" :content="card.cardSpellPower+''"></mu-badge>
            </h4>
            <h4>描述：</h4>
            <h2>{{card.cardDescription}}</h2>
          </mu-card-text>
          <mu-card-actions>
<!--            <mu-button color="primary">cardHealth:</mu-button>-->
<!--            <mu-badge :content="'生命值：'+card.cardHealth" color="primary"></mu-badge>-->
<!--            <mu-badge :content="card.cardSpellPower" color="primary"></mu-badge>-->
<!--            <mu-badge :content="card.cardType" color="primary"></mu-badge>-->
<!--            <mu-badge :content="card.cardAtk" color="primary"></mu-badge>-->
            <mu-button color="teal" v-on:click="closeCardDetailDialog">OK</mu-button>

          </mu-card-actions>
        </mu-card>
      </mu-dialog>
    </mu-container>
  </div>


  <script type="text/javascript">
    var app = new Vue({
      el: '#playground',
      data: {
        cardDetail:false,
        opened:[
            false,false,false,false,false,
        ],
        card:{
          cardAtk: 4,
          cardClass: "中立",
          cardDescription: "战吼：对自身造成4点伤害。",
          cardEngName: "Injured Blademaster",
          cardHealth: 7,
          cardId: 1001,
          cardImgUrl: "http://img.dwstatic.com/ls/pic/card/Injured Blademaster.png",
          cardName: "负伤剑圣 ",
          cardRarity: "稀有",
          cardRarityNum: 2,
          cardSpellPower: 3,
          cardType: "随从"
        },
        cardSets:[],
        cardSet: [
          {
            cardAtk: 4,
            cardClass: "中立",
            cardDescription: "战吼：对自身造成4点伤害。",
            cardEngName: "Injured Blademaster",
            cardHealth: 7,
            cardId: 1001,
            cardImgUrl: "http://img.dwstatic.com/ls/pic/card/Injured Blademaster.png",
            cardName: "负伤剑圣 ",
            cardRarity: "稀有",
            cardRarityNum: 2,
            cardSpellPower: 3,
            cardType: "随从"
          },
        ],
        rarity: [
          {
            img: "assets/img/common.png",
            name: "Common",
            num: 0,
            rate: "71.00%",
            no: "1"
          },
          {
            img: "assets/img/rare.png",
            name: "Rare",
            num: 0,
            rate: "24.50%",
            no: "2"
          },
          {
            img: "assets/img/epic.png",
            name: "Epic",
            num: 0,
            rate: "4.10%",
            no: "3"
          },
          {
            img: "assets/img/legend.png",
            name: "Legend",
            num: 0,
            rate: "0.40%",
            no: "4"
          },
        ],
      },
      methods: {
        getRarityImg:function(i){
          var url = '';
          switch (i) {
            case 0:url='assets/img/free.png';break;
            case 1:url='assets/img/common.png';break;
            case 2:url='assets/img/rare.png';break;
            case 3:url='assets/img/epic.png';break;
            case 4:url='assets/img/legend.png';break;
          }
          return url;
        },
        closeCardDetailDialog:function(){
          this.cardDetail = false;
        },
        openCardDetailDialog:function(id){
          axios
                  .get(host+'/card/'+id)
                  .then((response) => {
                    this.card = response.data.data;
                  })
                  .catch(function (error) { // 请求失败处理
                    console.log(error);
                    this.$toast.error(error);
                  });
          this.cardDetail = true;
        },
        getData: function (j) {
          axios
            .get(host+'/card/getRandomCard?cardNum=5')
            .then((response) => {
              var cset = response.data.data;
              this.cardSets.unshift(cset);
              this.$set(this.opened, j, true)
              for (var i=0;i<cset.length;i++){
                var id = Number(cset[i].cardRarityNum) - 1;
                try {
                  this.$set(this.rarity[id],'num',this.rarity[id].num+1);
                }catch (e) {

                }
              }
            })
            .catch(function (error) { // 请求失败处理
              console.log(error);
            });
        },
      },
      computed: {
        getTotalRarity: function () {
          var sum = 0;
          this.rarity.forEach(r => {
            sum += r.no*r.num;
          });
          return sum;
        },
      },
    })
  </script>
</body>

</html>